

body, #screenfill
{

position:absolute;

width:100%;


height:100%;


    background:url('../images/black-ch.jpg');

    background-size:100% auto;





    margin:0px;

padding:0px;


}



@font-face {
    font-family: f1;
    src: url(font/albaHollow.ttf);
    font-weight:400;
}



@font-face {
    font-family: f2;
    src: url(font/iceDesign.ttf);
    font-weight:400;
}



@font-face {
    font-family: f3;
    src: url(font/iceFancyThick.ttf);
    font-weight:400;
}




@font-face {
    font-family: f4;
    src: url(font/iceHollow.ttf);
    font-weight:400;
}



@font-face {
    font-family: f5;
    src: url(font/iceNarrow.ttf);
    font-weight:400;
}




@font-face {
    font-family: f6;
    src: url(font/ninja.ttf);
    font-weight:400;
}



@font-face {
    font-family: f7;
    src: url(font/ninja2.ttf);
    font-weight:400;
}



@font-face {
    font-family: f8;
    src: url(font/pres.ttf);
    font-weight:400;
}


@font-face {
    font-family: f9;
    src: url(font/round.ttf);
    font-weight:400;
}


@font-face {
    font-family: f10;
    src: url(font/roundFunk.ttf);
    font-weight:400;
}



@font-face {
    font-family: f11;
    src: url(font/sharp.ttf);
    font-weight:400;
}


@font-face {
    font-family: f12;
    src: url(font/steel.ttf);
    font-weight:400;
}


@font-face {
    font-family: f13;
    src: url(font/thick.ttf);
    font-weight:400;
}


@font-face {
    font-family: f14;
    src: url(font/thinSharp.ttf);
    font-weight:400;
}


p {



margin:0px;


     font-family: exo;
	
	
	font-weight:normal;
	
	font-size:105%;
	
}



 #banner
{ margin-left: auto; 
  margin-right: auto;
  
  
  border:none;
 
  
  }
  
  

header
{


    position:relative;

    top:80px;

    margin-left: auto;
    margin-right: auto;

    width: 940px;


    border:none;

    padding:4px;



}


header:before
{

    background:black;

    opacity:0.5;

    position:relative;

    top:80px;

    margin-left: auto;
    margin-right: auto;

    width: 940px;


    border:none;

    padding:4px;



}
  

.titleBox
{
  
  position:relative;
  
 left:9px;
  
  
}


.appTitle1
{

    position:relative;

  font-size:240%;
  
  color:snow;
    
    font-family:tt_semi;
    
    text-shadow:
    -1px -1px 0 #555,
    1px -1px 0 #555,
    -1px 1px 0 #555,
    1px 1px 0 #555;
    
    
    
  
}


.appTitle2
{
   font-size:220%;
  
  color:orange;
    
    font-family:tt_semi;
    
    text-shadow:
    -1px -1px 0 #555,
    1px -1px 0 #555,
    -1px 1px 0 #555,
    1px 1px 0 #555;
    
    font-weight:bold;
   
    
  
}


.appTitleSlogan
{
   font-size:150%;
  
  color:snow;
    
    font-family:tt_semi;
    
    
      text-shadow:
    -1px -1px 0 #555,
    1px -1px 0 #555,
    -1px 1px 0 #555,
    1px 1px 0 #555;
    
    
  
}



.featuredItem
{
  
   
    font-family:tt_semi;
  
  
   margin-left: auto; 
  margin-right: auto;
  
  
  padding:15px;
  
  
}


.featureHeading
{
  
  
  font-size:190%;
  
  
  
}


.featureText
{
  
  
  font-size:120%;
  
  
  
}


.featureButton
{
  
    font-family:tt_semi;
  
  
  font-size:120%;
  
  color:white;
  
    
  background: midnightblue; /* fallback */
  background-image:  -webkit-linear-gradient( teal, midnightblue); /* Chrome 10+, Saf5.1+ */
  background-image:   -moz-linear-gradient( teal, midnightblue); /* FF3.6+ */
  background-image:      -o-linear-gradient( teal, midnightblue); /* Opera 11.10+ */
  background-image:       linear-gradient( teal, midnightblue); /* W3C */
  
     padding:5px;
     
     
     margin-left:9px;
     
  
  
}



.logoLex
{
  
  
  width:100px;
  
  height:auto;
  
  
  border-radius:50%;
  
  
  background-size:100% auto;
  
  
  float:left;
  
}






.textInput
{
    
    
    
}


#leftCaseVert, .leftCaseVert
{
    
   
width: 15%;
  height: 100%;
   position:absolute;
  top:0px;
  left:0px;
 
 
 
  color:black;
  font-size:110%;
 border:1px outset grey;
 
    font-family: f14;
  
    
}


.incompleteBtn
{


width: 15%;
  height: 100%;
   position:absolute;
  top:0px;
  right:0px;
  color:black;
  font-size:110%;
 border:1px outset grey;
  background: none;
 
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin:0px;
  padding:0px;
  
  
    font-family: f14;





}


.centerCase {
  width: 100%;
  position: relative;
  z-index: 5;
  top: 130px;
  left: 0px;



    right: 0px;

  border-color: orange;
  border-style: inset;
  border-width: 1px;
  background-color: #000000;

}

footer
{
    border-top:2px inset grey;

    font-family: Verdana,Arial,sans-serif;

    position:relative;

    padding:20px;
    background:url('js/jquery-ui/images/ui-bg_loop_25_000000_21x21.png') 50% 50% repeat;


}

footer *
{

    color:white;

}

.centerText
{


color:white;

font-size:110%;


display:block;

text-align:center;





}


input[type=submit]{
  
  background: -webkit-linear-gradient(cadetblue, darkcyan, darkslategrey);
  background: -o-linear-gradient(cadetblue, darkcyan, darkslategrey);
  background: -moz-linear-gradient(cadetblue, darkcyan, darkslategrey);
  background: linear-gradient(cadetblue, darkcyan, darkslategrey);
   
   color:white;
   
}


.rowBtn
{

width:19%;
  height: 50px;
  
  position:relative;
  
  top:40px;
  
  font-size:120%;
  border: none;
 
  background: -webkit-linear-gradient(cadetblue, darkcyan, darkslategrey);
  background: -o-linear-gradient(cadetblue, darkcyan, darkslategrey);
  background: -moz-linear-gradient(cadetblue, darkcyan, darkslategrey);
  background: linear-gradient(cadetblue, darkcyan, darkslategrey);

  
  
color:white;

font-weight:fine;

  
  padding-left:7px;
  
  margin:0px;
  
  
    font-family: f5;


}



.snowBtn
{
width: 15%;
  height: 50px;
   position:absolute;
  top:0px;
  right:0px;
  color:black;
  font-size:110%;
 border:1px outset grey;
  background: -webkit-linear-gradient(white, snow , snow);
  background: -o-linear-gradient(white, snow , snow);
  background: -moz-linear-gradient(white, snow , snow);
  background: linear-gradient(white, snow , snow);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin:0px;
  padding:0px;
  
  
    font-family: f14;

}



.title
{


width:35%;
    height: 30px;
  position:absolute;
  top:10%;
  left:0px;
  font-size:90%;
  border: none;
 
  background: -webkit-linear-gradient(white, snow , snow);
  background: -o-linear-gradient(white, snow , snow);
  background: -moz-linear-gradient(white, snow , snow);
  background: linear-gradient(white, snow , snow);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
color:black;

font-weight:2;

font-size:150%;
  
  padding-left:7px;
  
  
  
  
    

  margin:0px;
  
  
    font-family: f5;



}

.blackTop
{

 width: 100%;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  right:0px;
  background-color: white;
  
  margin:0px;
  
  padding:0px;

}

#tb1, #tb2, #tb3
{
width: 15%;
  height: 100%;
   position:absolute;
  top:0px;
  right:0px;
  color:black;
  font-size:110%;
 border:1px outset grey;
  background: -webkit-linear-gradient(white, snow , snow);
  background: -o-linear-gradient(white, snow , snow);
  background: -moz-linear-gradient(white, snow , snow);
  background: linear-gradient(white, snow , snow);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin:0px;
  padding:0px;
  
  
    font-family: f14;

}





#cBar1 {
 
 width: 100%;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
  right:0px;
  background-color: white;
  
  margin:0px;
  
  padding:0px;
  
  
}




#by{


width:100%;

display:block;

text-align:center;


position:relative;


color:white;

			
			font-size:130%;
 
}

#softDev
{




margin-left:5px;



color:orange;

 text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black,
            -1px 1px 0 black, 3px 3px 5px #333333;

 font-size:150%;

}



#vividText {



position:relative;


margin-right:5px;



color:blue;

 text-shadow: 1px 1px 0 gold, -1px -1px 0 gold, 1px -1px 0 gold,
            -1px 1px 0 gold, 1px 1px 3px snow;

 font-size:190%;

 
}

#vividNameCase
{

position:relative;

display:block;

text-align:center;


margin-left:auto;

margin-right:auto;


}


.title
{



}


#appTitle
{

width:100px;
height:100%;
margin-top:9px;

display:block;

text-align:center;


position:relative;


font-size:190%;


color:white;

 text-shadow: 1px 1px 0 grey, -1px -1px 0 grey, 1px -1px 0 grey,
            -1px 1px 0 grey;





}

#appTitleMain
{

width:100%;

margin-top:9px;

display:block;

text-align:center;


position:relative;


font-size:190%;


color:white;


 text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black,
            -1px 1px 0 black;


}


.slideContent{
    
    width:95%;
   
    position:relative;
    
  background: midnightblue; /* fallback */
  background-image:  -webkit-linear-gradient( teal, black); /* Chrome 10+, Saf5.1+ */
  background-image:   -moz-linear-gradient( teal, black); /* FF3.6+ */
  background-image:      -o-linear-gradient( teal, black); /* Opera 11.10+ */
  background-image:       linear-gradient( teal, black); /* W3C */
  
    border-radius:7px;
    
    border:3px outset grey;
    
    left:10px;
  
  margin-top:10px;
    
    float:left;
    
    padding:4px;
    
    
}


.codeContent{
    
    width:95%;
   
    position:relative;
    
    color:black;
    
    
     border-radius:3px;
    
    border:3px solid #333333;
    
    background-color:white;
    
    
    
}



.appTitleDef
{

width:100%;

display:block;

text-align:center;


position:relative;


font-size:150%;


color:snow;



 text-shadow: 1px 1px 0 blue, -1px -1px 0 blue, 1px -1px 0 blue,
            -1px 1px 0 blue, 3px 3px 5px aqua;





}



.mainCase{

margin:0px;

position:relative;

z-index:900;


left:0px;

width:100%;

height:100%;


}


.mainWordCase{


padding:0px;

margin:0px;


width:100%;



background: -webkit-linear-gradient(white , snow , snow, snow, grey );
  background: -o-linear-gradient(white , snow , snow, snow, grey );
  background: -moz-linear-gradient(white , snow , snow, snow, grey);
  background: linear-gradient(white , snow , snow, snow, grey );


border:1px solid black;



}

.mainWord{

margin:0px;

position:relative;

float:left;


width:100%;

padding:3px;

padding-right:25px;

font-size:80%;


color:blue;

border:none;

border-right:1px  solid  black;

padding-bottom:5px;

}

.spacer
{


clear:both;


}



.mainDef{



float:left;

margin:0px;

position:relative;



width:100%;

padding:5px;

padding-right:25px;

left:0px;




padding:3px;

font-size:80%;


color:black;

border:none;

clear:both;


border-right:1px  solid  black;

}

.linkedWordRowCase, .mainWordRowCase
{



margin:0px;

padding:0px;


position:relative;

width:100%;

min-width:100%;



border-top:1px  solid black;


overflow:hidden;

}

div.infoRowCase
{

color:snow;



background-color:black;




}


.infoRowCase:hover
{

border:1px solid aqua;


}

.mainWordCase:hover
{

border:1px solid goldenrod;


}




.infoCase{

padding:0px;

margin:0px;

position:relative;

width:100%;





border:1px  solid #333333;




color:snow;

}


 .Hypernyms, .Hyponyms, .Instance-Hyponyms , .Instance-Hypernyms , .Substance-Holonyms , .Member-Meronyms , .Part-Holonyms , .Part-Meronyms , .Member-Holonyms, .Substance-Meronyms, .Unknown-LinkType, .linkedWord
{

clear:both;

float:left;


margin:0px;

padding-left:7px;

padding-top:5px;

position:relative;

min-width:100%;

font-size:130%;


padding-bottom:4px;

border-top:1px  solid black;


background: -webkit-linear-gradient(darkgrey ,#333333, #333333,#333333,#333333,darkgrey );
  background: -o-linear-gradient(darkgrey ,#333333, #333333,#333333,#333333,darkgrey  );
  background: -moz-linear-gradient(darkgrey ,#333333, #333333,#333333,#333333,darkgrey );
  background: linear-gradient(darkgrey ,#333333, #333333,#333333,#333333,darkgrey );



}


 .infoHeadDef
{



margin:1px;

margin-top:4px;

padding-left:7px;

padding-top:5px;




font-size:130%;


padding-bottom:4px;

border-top:1px  solid black;

color:white;


background: -webkit-linear-gradient(darkgrey ,#333333, #333333,#333333,#333333,darkgrey );
  background: -o-linear-gradient(darkgrey ,#333333, #333333,#333333,#333333,darkgrey  );
  background: -moz-linear-gradient(darkgrey ,#333333, #333333,#333333,#333333,darkgrey );
  background: linear-gradient(darkgrey ,#333333, #333333,#333333,#333333,darkgrey );



}

#hypHead
{

float:left;



color:black;

 text-shadow: 1px 1px 0 goldenrod, -1px -1px 0 goldenrod, 1px -1px 0 goldenrod,
            -1px 1px 0 goldenrod, 3px 3px 5px gold;


}


.infoWord{


float:left;

margin:0px;


width:50%;



top:0px;

padding:3px;

padding-left:5px;

font-size:120%;


color:aqua;

border:1px  solid #333333;


border:none;

border-right:1px  solid #333333;

border-bottom:none;


padding-bottom:5px;

border-right:1px  solid  black;

padding-left:5px;


}



.infoDef{

clear:both;

float:left;

margin:0px;

position:relative;



top:0px;

left:0px;

width:50%;




padding:3px;


font-size:120%;



border:none;


border-bottom:none;


padding-bottom:5px;

border-right:1px  solid  black;

padding-left:5px;



}



.showInfo
{
    
    color:blue;

height:20px;

width:20px;

position:absolute;

right:1px;

top:1px;

font-weight:bold;

background:none;


border-radius:50%;

background-image: url('img/arrow.png');

background-size: 100% 100%;

visibility:hidden;
  
  
  

}


.hideInfo
{

position:absolute;

height:35px;

min-width:100px;

left:55%;

top:25%;
padding:5px;



background: -webkit-linear-gradient(grey, #333333, #333333, black);
  background: -o-linear-gradient(grey, #333333, #333333, black);
  background: -moz-linear-gradient(grey, #333333, #333333, black );
  background: linear-gradient(grey, #333333, #333333, black );

  border:1px  outset  snow;

color:white;

font-size:100%;

}




.enterWord
{

position:absolute;


left:55%;

top:10%;
padding:7px;




background: -webkit-linear-gradient(lightblue, blue, blue,  midnightblue );
  background: -o-linear-gradient(lightblue, blue, blue,  midnightblue );
  background: -moz-linear-gradient(lightblue, blue, blue,  midnightblue);
  background: linear-gradient(lightblue, blue, blue,  midnightblue);

  border:1px  outset  snow;

color:white;

font-size:100%;

border-radius:10px;


}



.refHead{


padding:10px;


position:relative;

margin-top:0px;

left:0px;

width:100%;


font-size:135%;



color:white;

 text-shadow: 1px 1px 0 goldenrod, -1px -1px 0 goldenrod, 1px -1px 0 goldenrod,
            -1px 1px 0 goldenrod, 3px 3px 5px gold;



background: -webkit-linear-gradient(darkgrey ,#333333, #333333,#333333,#333333,darkgrey );
  background: -o-linear-gradient(darkgrey ,#333333, #333333,#333333,#333333,darkgrey  );
  background: -moz-linear-gradient(darkgrey ,#333333, #333333,#333333,#333333,darkgrey );
  background: linear-gradient(darkgrey ,#333333, #333333,#333333,#333333,darkgrey );


}



.refHeadDef{

color:white;

padding:10px;


position:relative;

margin-top:20px;

left:10px;

width:95%;


font-size:135%;



}

.ref{

color:white;

padding:10px;


position:relative;

margin-top:20px;

left:10px;

width:95%;


font-size:125%;


}



.refLink{

color:aqua;

padding:10px;


position:relative;

margin-top:20px;

left:10px;

width:95%;


font-size:125%;


}
